<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topaz - 话题列表</title>
</head>
<body>

<div id="topic-list">
    <div class="topic-box" th:object="${topics}" th:each="topic: ${topics}">
        <a th:text="${topic.title}" th:href="|/topic/${topic.topicId}|">Topic title</a>
        <div class="topic-box-info">
            <span>发表时间:<span class="topic-timestamp" th:text="${topic.postTime}"></span></span>
            <span>评论数:<span th:text="${topic.comments.size()}"></span></span>
        </div>
    </div>
</div>
<div class="pager">

</div>
</body>
</html>