<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-hans en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Topaz - 话题列表</title>
    <th:block th:replace="common::stylesheets">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div th:replace="common :: header"></div>
<div class="container">
    <div class="content">
        <div class="module-titlebar">
            <div class="d-flex flex-row">
                <div class="mr-auto module-name">
                    <i class="far fa-comments"></i><span>所有话题</span>
                </div>
                <div>
                    <a href="/topic/new" class="new-topic-link">
                        <i class="fas fa-plus text-success"></i>
                        创建新话题
                    </a>
                </div>
            </div>
        </div>
        <div class="module">
            <div id="topic-list">
                <div class="topic-item" th:object="${topics}" th:each="topic: ${topics}">
                    <div>
                        <a class="topic-title" th:text="${topic.title}" th:href="|/topic/${topic.topicId}|">
                            Topic title
                        </a>
                        <div class="topic-comment-count" th:text="${topic.comments.size()}"></div>
                    </div>
                    <div>
                        <label>发表时间:</label>
                        <span class="topic-timestamp" th:text="${formatter.format(topic.postTime)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="pager">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page==1}? 'disabled'">
                    <a class="page-link" th:href="${page!=1}? @{/(page=${page-1})} : '#'">
                        上一页
                    </a>
                </li>
                <th:block th:each="iter: ${pager}">
                    <li class="page-item" th:classappend="${page==iter}? 'active'">
                        <a class="page-link" th:href="${page!=iter}? @{/(page=${iter})}:'#'">
                            [[${iter}]]
                        </a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${page==pager.pageCount}? 'disabled'">
                    <a class="page-link"
                       th:href="${page!=pager.pageCount}? @{/(page=${page+1})} : '#'">
                        下一页
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="common::footer">
</div>
</body>
</html>