<!DOCTYPE html>
<html lang="zh-hans en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topaz - 话题 - [[${topic.title}]]</title>
    <th:block th:replace="common::stylesheets">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/topic.css}">
</head>
<body>
<div th:replace="common :: header">
</div>
<div class="container">
    <div class="content">
        <div class="topic-container">
            <div class="topic-title" th:text="${topic.title}"></div>
            <div class="topic-secondary">
                <a class="topic-poster" th:text="${topic.poster.name}" th:href="|/user/${topic.poster.userId}|"></a>
                <span class="topic-timestamp" th:text="${formatter.format(topic.postTime)}"></span>
            </div>
            <div class="topic-content" th:utext="${topic.content}"></div>
        </div>
        <div class="comment-container">
            <span class="comments-header">
                评论([[${topic.comments.size()}]])
            </span>
            <div class="comment-item" th:each="comment: ${topic.comments}">
                <div class="d-flex flex-row">
                    <div class="mr-auto">
                        <a class="comment-commenter" th:href="|/user/${comment.commenter.userId}|">
                            [[${comment.commenter.name}]]
                        </a>
                    </div>
                    <div class="ml-auto">
                        <span class="comment-timestamp">[[${formatter.format(comment.commentTime)}]]</span>
                    </div>
                </div>
                <div class="comment-content" th:text="${comment.content}"></div>
            </div>
        </div>
        <div class="new-comment-container">
            <h2>发表新评论</h2>
            <form id="new-comment-form" action="#">
                <div class="form-group">
                    <textarea id="comment-content" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-success">发表</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="common::footer">
</div>
<script src="https://cdn.jsdelivr.net/npm/ckeditor@4.12.1/ckeditor.js"></script>
<script>
    CKEDITOR.config.language = "zh-cn";
    CKEDITOR.replace("content");
    $("#new-comment-form").bind("submit", function (event) {
        event.preventDefault();
    });
</script>
</body>
</html>