<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Topaz - 话题 - ${topic.title}|"></title>
</head>
<body>
<article>
    <h1 th:text="${topic.title}"></h1>
    <a th:text="${topic.poster.name}" th:href="|/user/${topic.poster.userId}|"></a>
    <div th:text="${topic.content}"></div>
    <span class="topic-timestamp" th:text="${topic.postTime}"></span>
</article>
<div class="comment-container">
    <div th:each="comment: ${topic.comments}">
        <a th:text="${comment.commenter.name}" th:href="|/user/${comment.commenter.userId}|"></a>
        <div th:text="${comment.content}"></div>
    </div>
</div>
</body>
</html>