<!DOCTYPE html>
<html lang="zh-hans en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topaz - 用户 - [[${user.name}]]</title>
    <th:block th:replace="common::stylesheets">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
<div th:replace="common :: header">
</div>
<div class="container">
    <div class="content">
        <table class="table user-info">
            <tr>
                <td class="row-name">用户名</td>
                <td>[[${user.name}]]</td>
            </tr>
            <tr>
                <td class="row-name">注册时间</td>
                <td>[[${formatter.format(user.signupTime)}]]</td>
            </tr>
            <tr>
                <td class="row-name">个人信息</td>
                <td>[[${user.profile}]]</td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="common::footer">
</div>
</body>
</html>