<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="xwm" content="">
    <title>Topaz - 话题列表</title>
    <!-- Bootstrap core CSS-->
    <div th:replace="back_common::dependency"></div>
    <script>
        function delete_id(id) {
            $.ajax({
                url: "/api/message/"+id,
                type: "delete",
                success: function (msg) {
                    $("#list"+id).remove();
                }
            })
        }
    </script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div th:replace="back_common::manage-head"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>私信列表</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>私信ID</th>
                            <th>私信发送时间</th>
                            <th>发送者</th>
                            <th>接收者</th>
                            <th>回复内容</th>
                            <th>删除</th>
                        </tr>
                        <tfoot>
                        <nav id="post-nav">
                                <span class="prev">
                                    <a th:href="@{/admin/message/(page=${page -1}, limit=${limit})}" th:if="${page}>0">
                                       <span class="button">上一页</span>
                                    </a>
                                 </span>
                            <span class="next">
                                <a th:href="@{/admin/message/(page=${page +1}, limit=${limit})}" th:if="${page} < ${pageCount -1}">
                                    <span class="button">下一页</span>
                                </a>
                                </span>
                        </nav>
                        </tfoot>
                        <tr th:each="message:${messages}" th:id="'list' + ${message.messageId}">
                            <td ><a th:text="${message.messageId}" th:href="|/message/${message.messageId}|"></a></td>
                            <td th:text="${message.sentTime}"></td>
                            <td th:text="${message.sender.name}"></td>
                            <td th:text="${message.receiver.name}"></td>
                            <td> <div class="dropdown-message small" th:text="${message.content}"></div></td>
                            <td><button class="btn-outline-light" th:onclick="'delete_id('+${message.messageId}+');'" style="background-color: #c82333; width: 70px; height: 30px"><span class="text-lg-center">×</span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Logout Modal-->
        <div th:replace="back_common::logout-part"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/js/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin.min.js}"></script>
<!-- Custom scripts for this page-->
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>

</body>
</html>