<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topaz - 私信列表</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"> </script>
    <script>

        function delete_id(id, page, limit) {
            $.ajax({
                url: "/api/admin/message/" + id,
                type: "delete",
                success: function (msg) {
                    $.ajax(
                        {
                            url: "/admin/message/" + "?page=" +page +"&limit=" +limit,
                            type: "get",
                            success: function (msg) {
                                document.write(msg);
                                document.close();
                            }
                        }
                    )
                }

            })
        }
    </script>
</head>
<body>

<ul id="topic-list" style="height: 500px; overflow: auto">
    <li th:id="${message.messageId}" th:object="${messages}" th:each="message: ${messages}">
        <a th:href="|/admin/message/${message.messageId}|">message title</a>
        <h1 class="message-box-info">
            <span>发送时间:<span class="message-timestamp" th:text="${message.sentTime}"></span></span>
            <span>发件人:<span th:text="${message.sender}"></span></span>
            <span>收件人:<span th:text="${message.receiver}"></span></span>
        </h1>
        <div class="message-box-delete">
            <button th:onclick="'delete_id('+${message.messageId}+','+${page}+','+${limit}+');'" ><span class="button">删除</span></button>
        </div>
    </li>
</ul>
<nav id="post-nav">
        <span class="prev">
            <a th:href="@{/admin/message/(page=${page -1}, limit=${limit})}" th:if="${page}>0">
                <span class="button">上一页</span>
            </a>
        </span>

    <span class="next">
            <a th:href="@{/admin/message/(page=${page +1}, limit=${limit})}" th:if="${page} < ${pageCount -1}">
                <span class="button">下一页</span>
            </a>
        </span>
</nav>
</body>
</html>