<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Topaz - 评论|"></title>
</head>
<body>
<article>
    <h1 th:text="评论"></h1>
    <a th:text="${comment.commenter.name}" th:href="|/user/${comment.commenter.userId}|"></a>
    <div th:text="${comment.content}"></div>
    <span class="topic" th:text="${comment.topic.title}"></span>
    <span class="comment-timestamp" th:text="${comment.commentTime}"></span>
</article>
</body>
</html>