.topic-title {
    font-size: x-large;
    font-weight: bold;
}

.topic-secondary {
    font-size: small;
    border-bottom: 1px #e1e1e1 solid;
}

.comment-container {
    margin-top: 1.8rem;
    border-top: 1px #e1e1e1 solid;
}

.comment-item {
    border-bottom: 1px #e1e1e1 solid;
    padding: 1rem;
}

.comment-commenter {
    font-size: larger;
    font-weight: bold;
}

.comment-timestamp {
    font-size: smaller;
}

.comments-header {
    font-weight: bold;
    font-size: larger;
}

.topic-content {
    margin-top: 1.8rem;
}

.new-comment-container {
    margin-top: 2rem;
    padding-top: 1rem;
}

.new-comment-container.disabled {
    display: none;
}

.login-required-message {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.topic-actions {
    display: flex;
    flex-direction: row;
}

.topic-actions button {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: none;
    background: none;
}

.favorite-button.on {
    color: rgb(255, 69, 0);
}

.favorite-button.off {
    color: #777777;
}